@import "../../_settings.scss";

.margin-0 {
	margin: 0 !important;
}

.padding-0 {
	padding: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.hidden {
	visibility: hidden;
	display: none;
}